.main {
    max-width: 900px;
    margin: auto;
}

.post-row {
    background-color: #f6f6f6;
    border-radius: .25rem;
    padding-top: .3rem;
    padding-bottom: 1.1rem;
}

.post {
    height: auto;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.3;
    color: #495057;
    background-clip: padding-box;
}

.date {
    height: calc(0.6em + .6rem + 2px);
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.3;
    color: #495057;
    background-clip: padding-box;
    border-radius: .25rem;
}

.comment {
    height: calc(0.8em + .75rem + 2px);
    padding: .2rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.3;
    color: #495057;
    background-color: #f6f6f6;
    background-clip: padding-box;
    border-radius: .25rem;
}
.form-comment {
    display: block;
    width: 100%;
    height: calc(0.8em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .9rem;
    font-weight: 300;
    line-height: 1.3;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.comment-d {
    width: 70%;
}
.table-comments {
    max-width: 700px;
    width: 70%;
    align-items: initial;

}

.btn-comment {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #28a745 !important;
}

.btn-edit {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #ffc107 !important;
}

.btn-delete {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #dc3545 !important;
}

.headers {
    background-color: #f6f6f6 !important;
    padding-bottom: 2rem;
    margin: 0 !important;

}
.jumbotron{
    padding-top: 1rem !important;
}
.jumbotron-fluid {
    background-color: #f6f6f6 !important;
}

