<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tweeter</title>
    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="main">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Tweeter</h1>
            <p class="lead">What you want to say?</p>
            <!-- ADD NEW POST PART -->

            <form th:action="@{/addpost}" method="post" th:object="${postToInsert}">
                <p> Add new post:
                    <input class="form-control" id="exampleFormControlTextarea1" type="text" th:field="*{text}"/>
                </p>
                <p>
                    <input type="submit" value="Submit"/>
                    <input type="reset" value="Reset"/>
                </p>
            </form>

            <!-- end of ADD NEW POST PART -->
        </div>
    </div>


    <!-- POST LIST -->

    <div th:each="post : ${posts}" th:if="${post.parentId == null}">
        <div class="post" th:text="${post.text}"></div>
        <div class="date" th:text="${post.createTimestamp}"></div>

        <div th:each="comment : ${posts}" th:if="${post.id == comment.parentId}">

            <form th:action="@{/modifypost}" method="post" th:object="${postToModify}">
                <div id="messageId" class="comment" th:classid="${comment.id}" th:text="${comment.text}"></div>
                <div><input id="editId" type="button" value="Edit" onclick="updateButton()"/>
                    <input id="saveId" hidden="true" type="submit" value="Save" onclick="updateButton()"/>
                </div>
                <input id="newMessageId" type="hidden" name="text"/>
                <input type="hidden" name="id" th:value="${comment.id}"/>
            </form>

            <form th:action="@{/deletepost}" method="post" th:object="${postToDelete}">
                <input id="deleteId" type="submit" value="Delete"/>
                <input type="hidden" name="id" th:value="${comment.id}"/>
            </form>

        </div>
    </div>
    <div>
        <hr/>
    </div>
</div>
    <!-- end of POST LIST -->
<script type="text/javascript">

    function updateButton() {
        const editButton = document.getElementById('editId');
        const saveButton = document.getElementById('saveId');

        if (editButton.hidden === false) {
            saveButton.hidden = false;
            editButton.hidden = true;
            const division = document.querySelector('.comment');
            division.contentEditable = 'true'
        } else {
            saveButton.hidden = true;
            editButton.hidden = false;
            const division = document.querySelector('.comment');
            myFunction();
            division.contentEditable = 'false'
        }

        function myFunction() {
            var x = document.getElementById("messageId").innerHTML;
            document.getElementById("newMessageId").value = x;
        }
    }


</script>
</body>
</html>