<!Doctype html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tweeter</title>
    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"/>
</head>
<body>
<div class="main">
    <h1>To jest Twitter</h1>

<!--<table class="pure-table pure-table-bordered">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>POST</th>-->
<!--        <th>DATE</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--<tbody>-->
<div th:each="post : ${posts}" th:if="${post.parentId == null}">
        <div class="post" th:text="${post.text}"></div>
        <div class="date" th:text="${post.createTimestamp}"></div>
            <div th:each="comment : ${posts}" th:if="${post.id == comment.parentId}">
                <div class="comment" contenteditable="true" th:text="${comment.text}">

                    /// dodać to jakiś input, który najpierw zmieni pole wyżej na editable i zapisze zmiany
                </div>
            </div>
       <div><hr/></div>
</div>

</div>
</body>
</html>