<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tweeter</title>
    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="main">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Tweeter</h1>
            <p class="lead">Please login</p>
    <form class="sign" th:action="@{/login-process}" method="post">

                    <p class="alert alert-danger" th:if="${param.error}" th:text="'Podany login lub hasło jest nieprawidłowy'"></p>
                    <label for="inputLogin">Login</label>
                    <input type="text" id="inputLogin" placeholder="Podaj login"
                           th:required="required" name="login"/>

                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword"
                           th:required="required" placeholder="Podaj hasło" name="password" />

                    <button class="btn btn-dark" type="submit">Zaloguj się</button>

                    </form>
        </div>
    </div>
</div>
</body>
</html>