<!Doctype html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tweeter</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous"/>
</head>
<body>
<div class="pure-u">
<table class="pure-table pure-table-bordered">
    <thead>
    <tr>
        <th>User ID</th>
        <th>Login</th>
        <th>Role</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Ban period</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <form action="/banuser" method="post" th:object="${user}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.login}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.userDescription.name}"></td>
            <td th:text="${user.userDescription.surname}"></td>
            <input type="hidden" name="login" th:value="${user.login}"/>
            <td><input type="range" name="days" min="1" max="30"/></td>
            <td><button value="ban">Ban User</button></td>
        </form>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>